@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb))
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components{
  .markdown-content h1 {
    font-family: 'Arial', sans-serif;
    color: #010101;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .markdown-content h2 {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .markdown-content h3 {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    font-style: italic;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .markdown-content p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 10px;
  }
  
  .markdown-content li {
    margin-bottom: 5px;
  }
  
  .markdown-content strong {
    font-weight: bold;
  }
  
  .markdown-content em {
    font-style: italic;
  }
  
}